.inputGroup {
    display: flex;

  }
  
  .input {
    height: 50px;
    flex-grow: 1;
    padding: 0 2rem;
    color: #000;
    font-size: 15px;
    border: 1px solid #fff;
    background-color: #fff;
    border-top-left-radius: 25px;
  }
  
  .buttonSubmit {
    height: 50px;
    padding: .5em 1em;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    font-weight: 500;
    border-top-right-radius: 25px;
    min-width: 50px;
  }
  
  .buttonSubmit:hover {
    background-color: #0056b3;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  