/* Estilos generales para el chat */
.chat-messages {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 30px;
    border-bottom: 1px solid #bdc3c7;
    max-width: 70vw;
    box-sizing: border-box;
}

.myMessageContainer {
    align-self: flex-end;
    background-color:#007bff;
    color: #fff;
    padding: 15px;
}

.myMessageContainer, .messageContainer{
    display: flex;
    font-size: 15px;
    margin-bottom: 1%;
    border-radius: 10px;
    max-width: 60%;
}

.messageContainer p, .myMessageContainer p {
    max-width: 94%;
    overflow-wrap: break-word;
    display: inline;
    margin: 0;
}

.timeMessage{
    font-size: 11px;
    align-self: flex-end;
    margin-left: 7px;
} 

#iconChatMobile {
    visibility: hidden;
    display: none;
}


.chat-container {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


.nav-list-chat-head {
    list-style: none;
    display: flex;
    padding: 20px;
    align-items: center;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.nav-list-chat {
    
    overflow-y: auto; /* Permite el desplazamiento vertical */
    overflow-x: hidden;
     /* Altura máxima antes de que comience el desplazamiento */

}

.input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-right-radius: 20px;
}

#chat-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#message-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#icon-send {
    background-color: #007bff;
    color: #ecf0f1;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.chat-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: var(--main-bg-color); /* Oscuro igual que el footer de index.html */
    color: #ecf0f1;
    border-right: 1px solid #20caca;
}

.nav-list-chat-heads {
    background-color: #2b9292;
}

#contactButton {
    margin: 0;
}




.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff; /* Color principal de index.html */
    color: #ecf0f1;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-right-radius: 20px;
}

.login-button,
.register-button {
    border: 2px solid #fff;
    border-radius: 20px;
}

.contact-icon {
    display: flex;
    margin: 0;
    padding: 0;
    bottom: 20px; /* Espaciado desde la parte inferior */
    left: 430px; /* Espaciado desde la izquierda */
}

#addContactForm{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--bgTransparent);
    padding: 15px 20px;
    border-radius: 10px;
    top: 105%;
    left: 0%;
    width: 85%;
    border: 2px solid var(--textColor);
}

#addContactForm input {
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    transition: all 0.4 ease-in-out;
    margin-bottom: 5px;
    border: 0px solid var(--main-color);
    outline: 0px solid var(--main-color);
}

#addContactForm input:focus {
    transform: scale(1.00);
    background-color: var(--main-color);
    color: #000;
    border: 0px solid var(--main-color);
    outline: 0px solid var(--main-color);
}

#addContactForm button {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: var(--main-color);
    padding: 8px 8px;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.4 ease-in-out;
    width: fit-content;
}

#addContactForm button:hover {
    transform: scale(1.03);
}

#friendRequestsWrapper{
    display: flex;
    position: absolute;
    padding: 13px 30px;
    border-radius: 3px;
    border: 2px solid #fff;
    top: 0%;
    left: 105%;
    width: max-content;
    flex-direction: column;
    background-color: var(--bgTransparent);
    min-width: 20vw;
    min-height: 7vh;
    gap: 10px;
}

.noRequests {
    position: absolute;
    width: max-content;
    top: 25%;
}

#menuChat {
    position: absolute;
    top: 100px;
    left: 10%;
    z-index: 0;
    padding: 0 30px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    color: white;
    opacity: 0;
    flex-direction: column;
    box-sizing:content-box;
    border: 3px solid var(--textColor);
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out, box-shadow .1s ease-in-out;
    transform-origin: center;
    visibility: hidden;
    z-index: 2;
}

.material-symbols-outlined:hover {
    font-weight: bolder;
    filter: brightness(1.5);
    transform: scale(1);
}

#menuChat.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out
}

#menuChat:hover::before, #menuChat:hover::after {
    opacity: 0;
}

#menuChat  > div {
    margin-bottom: 20%;
    align-items: center;
}

#menuChat #homeButton {
    display: flex;
    margin-top: 20%;
    align-items: center;
    
}

#menuChat div .text {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight:600;
    user-select: none;
}

.solicitud {
    display: flex;
}

.nav-list-logout {
    display: flex;
}

.hidden {
    width: 0px!important;
    opacity: 0;
    display: none!important;
}




/* estilos de componentes */



/* MessageComponent */
.messagesContainer {
    display: flex;
    height:calc(100vh - 130px);
    padding: 20px 10px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
    letter-spacing: 0px;
}

.messageLeft, .messageRight{
    display: flex;
    background-color: #e0e0e0;
    padding: 1% 2%;
    border-radius: 10px;
    width: max-content;
    max-width: 40%;
    height: max-content;
    margin-bottom: 10px;
}

.messageLeft {
    align-self: flex-start;
    text-align: left;
    text-wrap: nowrap;
}

.messageRight {
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
}

.lastMessageGroup{
    margin-top: 20px;
}

@media screen and (max-width: 1500px) {
    body .chat-item .contactName {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 4px;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } 

    .chat-container .chat-sidebar {
        width: 35vw;
    }

    .chat-main .chat-messages {
        max-width: 65vw;
        padding: 30px;
        box-sizing: border-box;
    }

    .nav-list-logout,
    .contact-icon {
        left: 10px; 
    }

    #menuChat .text {
        font-size: 12px;
    }


    
    .myMessageContainer {
        align-self: flex-end;
        background-color:#007bff;
        color: #fff;
        padding: 15px;
    }
    
    #chat-messages .myMessageContainer, .messageContainer{
        display: flex;
        font-size: 16px;
        margin-bottom: 2%;
        border-radius: 10px;
        max-width: 60%;
    }
    
    .messageContainer p, .myMessageContainer p {
        max-width: 93%;
        overflow-wrap: break-word;
        display: inline;
        margin: 0;
    }
    
    .timeMessage{
        font-size: 10px;
        align-self: flex-end;
        margin-left: 7px;
    } 

    #friendRequestsWrapper{
        min-width: 50vw;
    }

    #friendRequestsWrapper .friendRequestContainer {
        min-width: 30vw;
    }
    
}
@media ((width > 500px) and (width <= 1000px )){
    /*MOBILE DESIGN*/
    /* Ocultar sidebar en modo móvil cuando se hace clic en un chat */
    .chat-sidebar:not(.active) {
        display: none;
    }

    /* Mostrar el chat principal en modo móvil cuando se hace clic en un chat */
    .chat-main {
        display: none;
    }

    .chat-header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .chat-header #chats_mobile {
        position: absolute;
        left: 0%;
    }

    #iconChatMobile {
        visibility: visible;
        display: block;
    }

    #contactNameText {
        letter-spacing: 2px;
        font-size: 20px;
        margin-left: 10px;
        font-weight: bold;
    }

    #chat-messages .messageContainer p, #chat-messages .myMessageContainer p{
        font-size: 12px;
        max-width: 90%;
        margin-right: 5px;
    }

    .timeMessage{
        margin: 0;
        display: block;
        align-self: flex-end;
    }

    .chat-main.active {
        width: 100%;
        display: flex;
    }

    .chat-sidebar.active {
        width: 100vw;
        display: flex;
    }

    .chat-item .contactName {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 3px;
    }

    .chat-container .chat-main .chat-messages {
        max-width: 100vw;
        padding: 15px;
    }

    
    #friendRequestsWrapper{
        display: flex;
        position: absolute;
        background-color: #ffffffef;
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        border: 1px solid #000;
        top: 140%;
        left: 0%;
        min-width: 80vw;
        flex-direction: column;
    }

    #friendRequestsWrapper .friendRequestContainer {
        display: flex;
        justify-content: space-between;
        min-width: 0vw;
        max-width: 100%;
    }

    #friendRequestsWrapper .timeRequestContainer{
        display: none;
    }
}
@media screen and (width <= 500px) { 
    body .messageContainer, #chat-messages .myMessageContainer{
        max-width: 65%!important;
    }
    body #chat-messages .messageContainer p, body #chat-messages .myMessageContainer p{
        max-width: 85%!important;
    }
    #friendRequestsWrapper .friendRequestContainer {
        display: flex;
        justify-content: space-between;
        max-width: 79vw;
    }
}

/* Estilo para móvil */
/* Estilos para modo móvil */

#contactNameText {
    margin-left: 8px;
    letter-spacing: 4px;
    font-size: 25px;
    font-weight: bold;
}
  
/* Estilos generales */

.center-text {
  text-align: center;
}

.padding-1em {
  padding: 1em;
}

/* Estilos para la cabecera y el pie de página */
.header, .footer {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 1em;
}

/* Estilos para el menú de navegación */
.nav {
  background-color: var(--nav-bg-color);
  overflow: hidden;
}

.nav a {
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}

/* Estilos para el contenido principal */
.main {
  margin: 15px;
  padding: 15px;
  background-color: var(--main-content-bg);
}