/* Estilos generales para el chat */
.chat-messages {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    padding: 30px;
    border-bottom: 1px solid #bdc3c7;
    max-width: 70vw;
    box-sizing: border-box;
}



.loading {
    height: 99vh;
    width: 99vw;
    
}

.myMessageContainer {
    align-self: flex-end;
    background-color:#007bff;
    color: #fff;
    padding: 15px;
}

.myMessageContainer, .messageContainer{
    display: flex;
    font-size: 15px;
    margin-bottom: 1%;
    border-radius: 10px;
    max-width: 60%;
}

.messageContainer p, .myMessageContainer p {
    max-width: 94%;
    overflow-wrap: break-word;
    display: inline;
    margin: 0;
}

.timeMessage{
    font-size: 11px;
    align-self: flex-end;
    margin-left: 7px;
} 

#iconChatMobile {
    visibility: hidden;
    display: none;
}


.nav-list-chat-head {
    list-style: none;
    display: flex;
    padding: 20px;
    align-items: center;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.nav-list-chat {
    
    overflow-y: auto; /* Permite el desplazamiento vertical */
   
     /* Altura máxima antes de que comience el desplazamiento */

}

.input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-right-radius: 20px;
}

#chat-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#message-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#icon-send {
    background-color: #007bff;
    color: #ecf0f1;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.chat-container {
    display: flex;
    height: 100vh;
    background-color: transparent;
    margin: 0;
}

.loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1a1b1d;
}

.chat-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #008cff88;
    backdrop-filter: blur(25px);
    color: #ecf0f1;
    border-radius: 25px;
    padding: 10px;
}

#contactButton {
    margin: 0;
}


.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    border-radius: 25px;
    justify-content: flex-end;
    gap: 20px;
}

.chat-header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff; /* Color principal de index.html */
    color: #ecf0f1;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.login-button,
.register-button {
    border: 2px solid #fff;
    border-radius: 20px;
}


#addContactForm{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:#111111e1;
    padding: 25px 30px;
    border-radius: 25px;
    top: 105%;
    left: 0%;
    width: max-content;
    backdrop-filter: blur(10px);
}

#addContactForm input {
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    transition: all 0.4 ease-in-out;
    margin-bottom: 5px;
    border: 0px solid var(--main-color);
    outline: 0px solid var(--main-color);
}

#addContactForm button {
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    background-color: var(--main-color);
    padding: 8px 8px;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.4 ease-in-out;
    width: fit-content;
}

#friendRequestsWrapper{
    display: flex;
    position: absolute;
    padding: 25px 35px;
    border-radius: 25px;
    border: none;
    top: 2%;
    left: 105%;
    width: max-content;
    height: max-content;
    min-height: 40px;
    min-width: 270px;
    background-color: #111111e1;
    gap: 23px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.noRequests {
    width: max-content;
}

#menuChat {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 80px;
    left: 30px;
    padding: 20px 20px;
    background-color: #111111e1;
    border-radius: 25px;
    color: white;
    opacity: 0;
    flex-direction: column;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out, box-shadow .1s ease-in-out;
    transform-origin: center;
    visibility: hidden;
    z-index: 5;
    backdrop-filter: blur(10px);
    width: max-content;
}

#homeButton,
.contact-icon ,
.solicitud,
.nav-list-logout {

    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding: 20px;
    border-radius: 20px;
}

#homeButton:hover,
.contact-icon:hover,
.solicitud:hover,
.nav-list-logout:hover {
    background-color: #4242425d;
}

#menuChat > div.selected{
    background-color: #4242425d;
}

#menuChat.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out
}

#menuChat:hover::before, #menuChat:hover::after {
    opacity: 0;
}


/* #menuChat div .text {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight:600;
    user-select: none;
} */

.solicitud {
    display: flex;
}

.nav-list-logout {
    display: flex;
}

.hidden {
    width: 0px!important;
    opacity: 0;
    display: none!important;
}
    



/* estilos de componentes */



/* MessageComponent */
.containerChat {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    z-index: 1;
}

.containerSide {
    width: 30vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 2;
    box-sizing: content-box;
    padding: 30px;
}

main{
    height: 100%;
    overflow: scroll!important;
}

.messagesContainer {
    height: 95%;
    padding: 0px 20px;
    font-size: 20px;
    letter-spacing: 0px;
    overflow-y: scroll!important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message  {
    display: flex;
    height: fit-content;
    flex-direction: column;
    transition: all .3s ease-in-out;
    border-radius: 25px;
}

.message.selected {
    background-color: #007bff6c;
}

.messageLeft, .messageRight{
    display: flex;
    background-color: #e0e0e0;
    padding: 1% 2%;
    border-radius: 10px;
    width: max-content;
    max-width: 40%;
    height: max-content;
    word-wrap: break-word;
    word-break: break-all;
}

.messageLeft {
    text-align: left;
    text-wrap: nowrap;
}

.messageRight {
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    align-self: flex-end;
}

.lastMessageGroup{
    margin-top: 20px;
}

.contactsContainer {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.chat-item {
    align-items: center;
}

@media ((width > 1000px) and (width <= 1600px )) {
    body .chat-item .contactName {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 4px;
        margin-bottom: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    body .usernameSide {
        font-size: 22px;
    }

    .messagesContainer{
        font-size: 17px;
    }

    .messageLeft, .messageRight {
        padding: 10px 15px;
    }

    .chat-main .chat-messages {
        max-width: 65vw;
        padding: 30px;
        box-sizing: border-box;
    }

    .timeMessage{
        font-size: 10px;
        align-self: flex-end;
        margin-left: 7px;
    }
    #menuChat{
        width: max-content;
    }
    
}
@media ((width > 0) and (width <= 1000px )){
    /*MOBILE DESIGN*/
    /* Ocultar sidebar en modo móvil cuando se hace clic en un chat */

    .errorMessage {
        transform: scale(0.7);
    }
    .buttonBackArrow{
        display: flex!important;
    }

    .chat-sidebar:not(.active), .containerSide:not(.active), .containerChat:not(.active) {
        display: none;
    }

    body .input, body .buttonSubmit {
        height: 40px!important;
    }

    /* Mostrar el chat principal en modo móvil cuando se hace clic en un chat */
    .chat-main {
        display: none;
    }

    body .headerChatMain {
        display: flex;
        background-color:#008cff88;
        backdrop-filter: blur(25px);
        width: 100%;
        height: max-content;
        padding: 17px 10px;
        align-items: center;
    }
    
    body .profileImagenContainer {
        height: max-content;
    }

    .menuContainer {
        display: flex;
        justify-content: space-between;
    }
    
    body .profileImagenContainer img {
        height: 40px;
        width: 40px;
    }

    .chat-header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .messagesContainer{
        font-size: 17px;
    }

    .messageLeft, .messageRight {
        padding: 10px 15px;
    }

    .chat-header #chats_mobile {
        position: absolute;
        left: 0%;
    }

    #iconChatMobile {
        visibility: visible;
        display: block;
    }

    #contactNameText {
        letter-spacing: 2px;
        font-size: 20px;
        margin-left: 10px;
        font-weight: bold;
    }

    #chat-messages .messageContainer, .myMessageContainer{
        font-size: 12px;
        max-width: 90%;
        margin-right: 5px;
    }

    .timeMessage{
        margin: 0;
        display: block;
        align-self: flex-end;
    }

    .chat-main.active {
        width: 100%;
        display: flex;
        gap: 10px;
    }

    .containerSide.active {
        min-width: max-content;
        display: flex;
        height: max-content;
        padding: 0px;
        width: 70%;
        max-width: 500px;
        margin-top: 40px;
    }

    .chat-sidebar.active {
        min-width: 80%;
        display: flex;
        max-height: 90vh;
    }

    .chat-item .contactName {
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 3px;
    }

    .chat-container .chat-main .chat-messages {
        width: 100vw;
        padding: 15px;
    }

    .chat-container{
        display: flex;
        
        justify-content: center;
    }

    
    #friendRequestsWrapper {
        top: 105%;
        left: 0%;
    }

    #friendRequestsWrapper .friendRequestContainer {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
    }

    #friendRequestsWrapper .timeRequestContainer{
        display: none;
    }
}
@media screen and (width <= 500px) {
    .messagesContainer{
        font-size: 15px;
        padding: 0 10px;
    }

    .messageLeft, .messageRight {
        padding: 9px 13px;
    }

    body .messageContainer, #chat-messages .myMessageContainer{
        max-width: 65%!important;
    }
    body #chat-messages .messageContainer p, body #chat-messages .myMessageContainer p{
        max-width: 85%!important;
    }
    #friendRequestsWrapper .friendRequestContainer {
        display: flex;
        justify-content: space-between;
        max-width: 79vw;
    }
}

/* Estilo para móvil */
/* Estilos para modo móvil */

#contactNameText {
    margin-left: 8px;
    letter-spacing: 4px;
    font-size: 25px;
    font-weight: bold;
}
  
/* Estilos generales */

.center-text {
  text-align: center;
}

.padding-1em {
  padding: 1em;
}

/* Estilos para la cabecera y el pie de página */
.header, .footer {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 1em;
}

/* Estilos para el menú de navegación */
.nav {
  background-color: var(--nav-bg-color);

}

.nav a {
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}

/* Estilos para el contenido principal */
.main {
  margin: 15px;
  padding: 15px;
  background-color: var(--main-content-bg);
}