/* Estilos generales para el chat */
.chat-messages {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    padding: 30px;
    border-bottom: 1px solid #bdc3c7;
    max-width: 70vw;
    box-sizing: border-box;
}

.loading {
    height: 99vh;
    width: 99vw;
    
}

.myMessageContainer {
    align-self: flex-end;
    background-color:#007bff;
    color: #fff;
    padding: 15px;
}

.myMessageContainer, .messageContainer{
    display: flex;
    font-size: 15px;
    margin-bottom: 1%;
    border-radius: 10px;
    max-width: 60%;
}

.messageContainer p, .myMessageContainer p {
    max-width: 94%;
    overflow-wrap: break-word;
    display: inline;
    margin: 0;
}

.timeMessage{
    font-size: 11px;
    align-self: flex-end;
    margin-left: 7px;
} 

#iconChatMobile {
    visibility: hidden;
    display: none;
}


.nav-list-chat-head {
    list-style: none;
    display: flex;
    padding: 20px;
    align-items: center;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.nav-list-chat {
    
    overflow-y: auto; /* Permite el desplazamiento vertical */
   
     /* Altura máxima antes de que comience el desplazamiento */

}

.input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-bottom-right-radius: 20px;
}

#chat-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#message-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#icon-send {
    background-color: #007bff;
    color: #ecf0f1;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.chat-container {
    display: flex;
    height: 100vh;
    background-color: transparent;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23BBBBBB' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='3.1' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg %3E%3Ccircle fill='%23BBBBBB' r='10'/%3E%3Cg transform='rotate(-57 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-38.4 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(25.65 0 0)'%3E%3Cg transform=''%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(172.8 0 0)'%3E%3Cg transform=''%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform=''%3E%3Cg transform='rotate(-25.65 0 0)'%3E%3Cg transform='rotate(-230.4 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    /* background-image: url("https://i.postimg.cc/YSqz9s48/hollowed-boxes.png"); */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    margin: 0;
}

.chat-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: #008cff88;
    backdrop-filter: blur(25px);
    color: #ecf0f1;
    border-radius: 25px;
}

#contactButton {
    margin: 0;
}


.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    border-radius: 25px;
    justify-content: flex-end;
    gap: 20px;
}

.chat-header {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff; /* Color principal de index.html */
    color: #ecf0f1;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.login-button,
.register-button {
    border: 2px solid #fff;
    border-radius: 20px;
}

.contact-icon {
    display: flex;
    margin: 0;
    padding: 0;
    bottom: 20px; /* Espaciado desde la parte inferior */
    left: 430px; /* Espaciado desde la izquierda */
}

#addContactForm{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--bgTransparent);
    padding: 15px 20px;
    border-radius: 10px;
    top: 105%;
    left: 0%;
    width: 85%;
    border: 2px solid var(--textColor);
}

#addContactForm input {
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    transition: all 0.4 ease-in-out;
    margin-bottom: 5px;
    border: 0px solid var(--main-color);
    outline: 0px solid var(--main-color);
}

#addContactForm input:focus {
    transform: scale(1.00);
    background-color: var(--main-color);
    color: #000;
    border: 0px solid var(--main-color);
    outline: 0px solid var(--main-color);
}

#addContactForm button {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: var(--main-color);
    padding: 8px 8px;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.4 ease-in-out;
    width: fit-content;
}

#addContactForm button:hover {
    transform: scale(1.03);
}

#friendRequestsWrapper{
    display: flex;
    position: absolute;
    padding: 13px 30px;
    border-radius: 3px;
    border: 1px solid #fff;
    top: 0%;
    left: 105%;
    width: max-content;
    height: max-content;
    min-height: 40px;
    min-width: 270px;
    background-color: var(--bgTransparent);
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noRequests {
    position: absolute;
    width: max-content;
    top: 30%;
}

#menuChat {
    position: absolute;
    top: 80px;
    left: 10%;
    z-index: 0;
    padding: 0 30px;
    background-color: #111111e1;
    /* background-color: transparent; */
    border-radius: 25px;
    color: white;
    opacity: 0;
    flex-direction: column;
    box-sizing:content-box;
    /* border: 1px solid var(--textColor); */
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out, box-shadow .1s ease-in-out;
    transform-origin: center;
    visibility: hidden;
    z-index: 5;
    backdrop-filter: blur(10px);
}

.material-symbols-outlined:hover {
    font-weight: bolder;
    filter: brightness(1.5);
    transform: scale(1);
}

#menuChat.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out
}

#menuChat:hover::before, #menuChat:hover::after {
    opacity: 0;
}

#menuChat  > div {
    margin-bottom: 20%;
    align-items: center;
}

#menuChat #homeButton {
    display: flex;
    margin-top: 20%;
    align-items: center;
    
}

#menuChat div .text {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight:600;
    user-select: none;
}

.solicitud {
    display: flex;
}

.nav-list-logout {
    display: flex;
}

.hidden {
    width: 0px!important;
    opacity: 0;
    display: none!important;
}
    



/* estilos de componentes */



/* MessageComponent */
.containerChat {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    z-index: 1;
}

.containerSide {
    width: 30vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px;
    z-index: 2;
    box-sizing: border-box;
}

main{
    height: 100%;
    overflow: scroll!important;
}

.messagesContainer {
    height: 95%;
    padding: 0px 20px;
    font-size: 20px;
    letter-spacing: 0px;
    overflow: scroll!important;
    box-sizing: border-box;
}

.messageLeft, .messageRight{
    display: flex;
    background-color: #e0e0e0;
    padding: 1% 2%;
    border-radius: 10px;
    width: max-content;
    max-width: 40%;
    height: max-content;
    margin-bottom: 10px;

}

.messageLeft {

    text-align: left;
    text-wrap: nowrap;
}

.messageRight {
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    margin-left: auto;
}

.lastMessageGroup{
    margin-top: 20px;
}

.contactsContainer {
    overflow: scroll;
}

@media ((width > 1000px) and (width <= 1600px )) {
    body .chat-item .contactName {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 4px;
        margin-bottom: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .messagesContainer{
        font-size: 17px;
    }

    .messageLeft, .messageRight {
        padding: 10px 15px;
    }

    .chat-main .chat-messages {
        max-width: 65vw;
        padding: 30px;
        box-sizing: border-box;
    }

    .nav-list-logout,
    .contact-icon {
        left: 10px; 
    }

    #menuChat .text {
        font-size: 12px;
    }
    
    .timeMessage{
        font-size: 10px;
        align-self: flex-end;
        margin-left: 7px;
    } 

    #friendRequestsWrapper{
        min-width: 50vw;
    }

    #friendRequestsWrapper .friendRequestContainer {
        min-width: 30vw;
    }
    
}
@media ((width > 0) and (width <= 1000px )){
    /*MOBILE DESIGN*/
    /* Ocultar sidebar en modo móvil cuando se hace clic en un chat */

    .chat-sidebar:not(.active), .containerSide:not(.active) {
        display: none;
    }

    body .input, body .buttonSubmit {
        height: 40px!important;
    }

    /* Mostrar el chat principal en modo móvil cuando se hace clic en un chat */
    .chat-main {
        display: none;
    }

    body .headerChatMain {
        display: flex;
        background-color:#008cff88;
        backdrop-filter: blur(25px);
        width: 100%;
        height: max-content;
        padding: 10px;
        align-items: center;
    }
    
    body .profileImagenContainer {
        height: max-content;
    }
    
    body .profileImagenContainer img {
        height: 25px;
        width: 25px;
    }

    .chat-header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .messagesContainer{
        font-size: 17px;
    }

    .messageLeft, .messageRight {
        padding: 10px 15px;
    }

    .chat-header #chats_mobile {
        position: absolute;
        left: 0%;
    }

    #iconChatMobile {
        visibility: visible;
        display: block;
    }

    #contactNameText {
        letter-spacing: 2px;
        font-size: 20px;
        margin-left: 10px;
        font-weight: bold;
    }

    #chat-messages .messageContainer, .myMessageContainer{
        font-size: 12px;
        max-width: 90%;
        margin-right: 5px;
    }

    .timeMessage{
        margin: 0;
        display: block;
        align-self: flex-end;
    }

    .chat-main.active {
        width: 100%;
        display: flex;
        gap: 10px;
    }

    .chat-sidebar.active, .containerSide.active {
        min-width: 100%;
        display: flex;
        height: 100%;
    }

    .chat-item .contactName {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 3px;
    }
    
    .chat-container {
        overflow: hidden;
    }

    .chat-container .chat-main .chat-messages {
        width: 100vw;
        padding: 15px;
    }

    
    #friendRequestsWrapper{
        display: flex;
        position: absolute;
        background-color: #ffffffef;
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        border: 1px solid #000;
        top: 140%;
        left: 0%;
        min-width: 80vw;
        flex-direction: column;
    }

    #friendRequestsWrapper .friendRequestContainer {
        display: flex;
        justify-content: space-between;
        min-width: 0vw;
        max-width: 100%;
    }

    #friendRequestsWrapper .timeRequestContainer{
        display: none;
    }
}
@media screen and (width <= 500px) {
    .messagesContainer{
        font-size: 15px;
        padding: 0 10px;
    }

    .messageLeft, .messageRight {
        padding: 9px 13px;
    }

    body .messageContainer, #chat-messages .myMessageContainer{
        max-width: 65%!important;
    }
    body #chat-messages .messageContainer p, body #chat-messages .myMessageContainer p{
        max-width: 85%!important;
    }
    #friendRequestsWrapper .friendRequestContainer {
        display: flex;
        justify-content: space-between;
        max-width: 79vw;
    }
}

/* Estilo para móvil */
/* Estilos para modo móvil */

#contactNameText {
    margin-left: 8px;
    letter-spacing: 4px;
    font-size: 25px;
    font-weight: bold;
}
  
/* Estilos generales */

.center-text {
  text-align: center;
}

.padding-1em {
  padding: 1em;
}

/* Estilos para la cabecera y el pie de página */
.header, .footer {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 1em;
}

/* Estilos para el menú de navegación */
.nav {
  background-color: var(--nav-bg-color);

}

.nav a {
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}

/* Estilos para el contenido principal */
.main {
  margin: 15px;
  padding: 15px;
  background-color: var(--main-content-bg);
}