@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display:wght@600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Slab:wght@300&display=swap');
/* Variables */
:root {
  --main-bg-color: #161616;
  --text-color: #f5f5f5;
  --nav-bg-color: #444;
  --hover-bg-color: #ddd;
  --hover-text-color: black;
  --main-content-bg: #dddbdb;
  --main-color: #18a0a0/*007bff*/;
  --main-color-dark: #136b6b/*0056b3*/;
  --textColor: #fff;
  --bgTransparent: #2b2b2bf8;
}

body {
  font-family:'Poppins', Verdana, system-ui ,'Lato', sans-serif, 'Courier New', 'Courier';
  margin: 0;
  padding: 0;
  background-color: var(--main-content-bg);
}

.containerAll {
  display: flex;
  flex-direction: column;
  background-image: url(https://wallpaperaccess.com/full/1567665.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.no-select, img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 40;
}
.material-symbols-outlined { 
  cursor: pointer;
  background-color: var(--main-color);
  padding: 6px 6px;   
  border-radius: 50%;
  color: black;
  font-weight: bolder;
  user-select: none;
  border: none;
  transition: all .3s ease-in-out;
  align-items: center;
  justify-content: center;
}


div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  color: var(--main-color)!important;
  background-color: transparent!important;
  font-weight: bold!important;
  letter-spacing: 1px;
  transition: all .3s ease-in-out!important;
  border: 1px solid var(--textColor) !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:hover {
  background: transparent!important;
  transform: scale(1.05);
}

div:where(.swal2-container) div:where(.swal2-popup){
  background-color: var(--main-bg-color)!important;
  box-shadow: 0px 15px 40px var(--main-color-dark);
  border-radius: 10px!important;
  color: var(--textColor) !important;
}

a{
  text-decoration: none;
  color: var(--main-color)
}


/* Estilo para móvil */
/* Estilos para modo móvil */

#contactNameText {
  margin-left: 8px;
  letter-spacing: 4px;
  font-size: 25px;
  font-weight: bold;
}

/* Estilos generales */


.center-text {
text-align: center;
}

.padding-1em {
padding: 1em;
}

/* Estilos para la cabecera y el pie de página */
.header, .footer {
background-color: var(--main-bg-color);
color: var(--text-color);
text-align: center;
padding: 1em;
}

/* Estilos para el menú de navegación */
.nav {
background-color: var(--nav-bg-color);
overflow: hidden;
}

.nav a {
float: left;
display: block;
color: var(--text-color);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.nav a:hover {
background-color: var(--hover-bg-color);
color: var(--hover-text-color);
}

/* Estilos para el contenido principal */
.main {
margin: 15px;
padding: 15px;
background-color: var(--main-content-bg);
}