.profileImagenContainer #imagenProfile {
    margin-right: 10px;
}

.profileImagenContainer {
    width: auto;
    position: relative;
    height: 3.5em;
    border: 3px ridge var(--main-color);
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileImagenContainer::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 20%;
  background-color: #333333;;
  transition: 0.5s;
  transform-origin: center;
}

.profileImagenContainer::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 90%;
  left: 3%;
  width: 95%;
  height: 20%;
  background-color: #333333;;
  transition: 0.5s;
}

.profileImagenContainer:hover::before, .profileImagenContainer:hover::after {
  transform: scale(0)
}

.profileImagenContainer:hover {
  box-shadow: inset 0px 0px 18px var(--main-color);
}

.usernameSide{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
}

@media (max-width: 1150px) {
.usernameSide {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

}

@media (max-width: 900px){
    .usernameSide {
        display: none;
    }
    .profileImagenContainer {
        padding: 0px 10px;
    }
}
  

