.profileImagenContainer #imagenProfile {
    margin-right: 10px;
}

.profileImagenContainer {
    width: auto;
    position: relative;
    height: 3.5em;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
    transition: .5s;
    border-radius: 0.3em;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.usernameSide{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
}

@media (max-width: 1150px) {
.usernameSide {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

}

@media (max-width: 900px){
    .usernameSide {
        display: none;
    }
    .profileImagenContainer {
        padding: 0px 10px;
    }
}
  

