/* .profileImagenContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileImagenContainer #imagenProfile {
    margin-right: 5px;
}

.username-side{
    margin-right: 20px;
    font-size: 25px!important;
    font-weight: bold;
    letter-spacing: 3px;
} */