.headerChatMain {
    display: flex;
    background-color:#008cff88;
    backdrop-filter: blur(25px);
    width: 100%;
    height: 5%;
    padding: 25px 20px;
    border-bottom-left-radius: 25px;
    align-items: center;
    justify-content: left;
    gap: 0px;
}
.buttonBackArrow {
    height: 20px;
    width: 40px;
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 7px 0px;
    box-sizing: content-box;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    display: none;
}
.buttonBackArrow:hover {
    background-color: #2b2b2b2c;
}