.index-container {
    display: grid;
    place-items: center;
    width: 30vw;
    height: auto;
    padding: 40px;
    background-color: #161616;
    box-shadow: 0px 15px 60px var(--main-color-dark);
    outline: 1px solid var(--main-color);
    border-radius: 10px;
    margin: auto;
    margin-top: 20vh;
  }

  #form-body {
    width: auto;
  }

  #welcome-line-1 {
    position: relative;
    color: var(--main-color);
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 3px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 13px 10px;
    transition: transform 0.9s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
    margin-bottom: 30px;
  }
  

  #submitButtonIndex {
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 20%;
    justify-content: space-between;
  }


  #submit-button {
    display: flex;
    width: 130px;
    justify-content: center;
    color: var(--main-color);
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid var(--main-color);
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .5s;
  }

  #submit-button:hover {
    transform: scale(1.05);
    color: var(--textColor);
  }
