.main-content {
    padding: 20px; /* Añadir un espacio a los lados */
    max-width: 800px;
    margin: 0 auto; /* Centrar el contenido principal */
    margin-top: 20px;
    /*border: 1px solid #ccc;*/
}

.hero {
    background-color: #f9f9f9;
    color: #333;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra al contenido */
}

.hero-title {
    margin: 0;
    margin-bottom: 20px; /* Añadir un margen inferior */
    font-size: 24px;
}

/* Estilos para los botones de llamada a la acción (CTA) */
.cta-buttons {
    margin-top: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.2s ease; /* Añadir transición al cambio de color */
}

.cta-button:hover {
    background-color: #0056b3;
}