

.index-container {
    display: grid;
    place-items: center;
    width: 30vw;
    height: auto;
    padding: 40px;
    background-color: #161616;
    box-shadow: 0px 15px 60px var(--main-color-dark);
    outline: 1px solid var(--main-color);
    border-radius: 10px;
    margin: auto;
   
  }

  #formBodyIndex {
    width: auto;
  }

  #welcomeIndex {
    position: relative;
    color: var(--main-color);
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 3px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 13px 10px;
    transition: transform 0.9s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
    margin-bottom: 30px;
  }

  #welcomeIndex::after {
    content: "";
    position: absolute;
    top: -5%;
    left: 3%;
    width: 95%;
    height: 10%;
    background-color: #161616;
    transition: 0.5s;
    transform-origin: center;
  }
  
  #welcomeIndex::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 95%;
    left: 3%;
    width: 95%;
    height: 10%;
    background-color: #161616;;
    transition: 0.5s;
  }

  #welcomeIndex:hover::before, #welcomeIndex:hover::after {
    transform: scale(0)
  }

  #welcomeIndex:hover {
    cursor: pointer;
    transform: scale(1.0);
    color: var(--main-color-dark);
    box-shadow: inset 0px 0px 12px white;
  }

  #welcomeIndex2 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 17px;
  }

  #welcomeLinesIndex {
    text-align: center;
    line-height: 1;
  }
  

  #submitButtonIndexContainer{
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 20%;
    justify-content: space-between;
  }


  #submitButtonIndex {
    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: center;
    color: var(--main-color);
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid var(--main-color);
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .5s;
  }

  #submitButtonIndex:hover {
    transform: scale(1.05);
    color: var(--textColor);
  }
