.btn {
    width: max-content;
    height: max-content;
    border-radius: 25px;
    border: 0px solid var(--textColor);
    transition: all 0.5s ease-in-out background-color 0s ease-in-out;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--textColor);
    margin: 0px;
    position: relative;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 5px 10px;
  }

  
 
  .btn:hover {
    background-color: #3333335e;
  } 

  .btn.clicked {
    background-color: #3333335e;
  }
  
  .btn .icon {
    
    height: 40px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  

  
   .btn .icon.clicked {
    transform: translateX(100%);
  } 
  
   .btn .text.clicked {
    transition: all 0.5s;
    opacity: 0;
  } 
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active .icon {
    transform: scale(0.85);
  }

  @media ((width > 1000px) and (width <= 1600px )){
    .btn .text {
      display: none;
    }
    .btn .icon {
      transform: translateX(33%);
    } 

    .btn .icon.clicked {
      transform: translateX(33%);
    } 
  }