.btn {
    width: 130px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--textColor);
    transition: all 0.5s ease-in-out;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: var(--main-bg-color);
    color: var(--textColor);
    padding: 0px;
    margin: 0px;
    position: relative;
  }
/*   
  .btn:hover {
    box-shadow: inset 0px 0px 12px var(--textColor);
  } */
  
  .btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .btn .text {
    transform: translateX(55px);
  }
  
   .btn .icon.clicked {
    width: 115%;
  } 
  
   .btn .text.clicked {
    transition: all 0.5s;
    opacity: 0;
  } 
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active .icon {
    transform: scale(0.85);
  }

  @media (max-width: 1050px){

    .btn {
        width: 50px;
    }

    .btn .text {
        display: none;
    }

    .btn:hover .icon {
        width: 70px;
      }
}