.login-container {
  margin: auto;
}

#login-form {
    display: grid;
    place-items: center;
    width: 350px;
    height: 550px;
    padding: 25px;
    background-color: transparent;
    box-shadow: 0px 0px 0px var(--main-color-dark);
    border-radius: 0px;
    border: 1px solid #fff; 
    backdrop-filter: blur(20px);
    /* border-radius: 25px; */
  }
  
  #formBodyLogin {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
  }
  
  #welcome-lines {
    text-align: center;
    margin-bottom: 40px;
  }
  
  #welcome-line-1 {
    position: relative;
    
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 3px;
    /* border: 2px solid white; */
    border-radius: 5px;
    padding: 13px 10px;
    transition: transform 0.9s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
  }

  #welcome-line-1 a {
    color: var(--textColor);
  }
  
  #welcome-line-2 {
    color: #ffffff;
    font-size: 18px;

  }
  
  #input-area {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  #formBodyRegister {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .form-inp {
    background: transparent;
    border: 1px solid #e3e3e3;
    line-height: 1;
    border-radius: 20px;
    backdrop-filter: blur(10px);
  }
  
  .form-inp:focus {
    border: 1px solid var(--main-color);
  }

  
  .form-inp input {
    width: 100%;
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--textColor);
    border: none;
    padding: 11px 25px;
    margin: 0
  }
  
  .form-inp input:focus {
    outline: none;
  }
  .form-inp.focused {
    transform: scale(1.009);
    box-shadow: 0px 0px 2px var(--textColor),
                0px 0px 2px var(--textColor);

  }
  
  #submitButtonLogin {
    margin-top: 20px;
    justify-content: center;
    display: flex;
  }
  
  #submit-button {
    display: block;
    width: 100%;
    color: var(--textColor);
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid var(--textColor);
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out 0s;
    border-radius: 20px;
  }
  
  #submit-button:hover {
    transform: scale(1.01);
    font-size: bolder;
    cursor: pointer;
  }
  
  #forgot-pass {
    text-align: center;
    color: var(--text-color);
    font-size: 15px;
    
  }
  
  #forgot-pass a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
  }

  #forgot-pass a:hover {
    filter: brightness(2);
    transform: scale(1.01);
    font-size: bolder;
    
  }