.login-container {
  margin: auto;
}

#login-form {
    display: grid;
    place-items: center;
    width: 350px;
    height: 550px;
    padding: 25px;
    background-color: #161616;
    box-shadow: 0px 0px 0px var(--main-color-dark);
    border-radius: 0px;
    border: 1px solid #fff;
  }
  
  #formBodyLogin {
    width: 300px;
  }
  
  #welcome-lines {
    text-align: center;
  }
  
  #welcome-line-1 {
    position: relative;
    
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 3px;
    /* border: 2px solid white; */
    border-radius: 5px;
    padding: 13px 10px;
    transition: transform 0.9s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
    margin-bottom: 23px
  }

  #welcome-line-1 a {
    color: var(--textColor);
  }
  
  /* #welcome-line-1::after {
    content: "";
    position: absolute;
    top: -10%;
    left: 3%;
    width: 95%;
    height: 20%;
    background-color: var(--main-bg-color);;
    transition: 0.5s;
    transform-origin: center;
  } */
  
  /* #welcome-line-1::before {
    content: "";
    transform-origin: left;
    position: absolute;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
    background-color: transparent;
    transition: .8s;
    border: 2px solid #fff;
    transform: scale(0)
  } */

  /* #welcome-line-1:hover::before, #welcome-line-1:hover::after {
    transform: scale(1)
  }

  #welcome-line-1:hover {
    cursor: pointer;
    transform: scale(1.0);
    color: var(--main-color-dark);
    
  } */
  
  #welcome-line-2 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 17px;
  }
  
  #input-area {
    margin-top: 40px;
  }
  
  .form-inp {
    padding: 11px 25px;
    background: transparent;
    border: 1px solid #e3e3e3;
    line-height: 1;
    border-radius: 0px;
  }
  
  .form-inp:focus {
    border: 1px solid var(--main-color);
  }
  
  .form-inp:first-child {
    margin-bottom: 15px;
  }
  
  .form-inp input {
    width: 100%;
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--textColor);
    border: none;
    padding: 0;
    margin: 0
  }
  
  .form-inp input:focus {
    outline: none;
  }
  .form-inp.focused {
    transform: scale(1.009);
    box-shadow: 0px 0px 2px var(--textColor),
                0px 0px 2px var(--textColor);

  }
  
  #submitButtonLogin {
    margin-top: 20px;
    justify-content: center;
    display: flex;
  }
  
  #submit-button {
    display: block;
    width: 100%;
    color: var(--textColor);
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid var(--textColor);
    border-radius: 0px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out 0s;
  }
  
  #submit-button:hover {
    transform: scale(1.01);
    font-size: bolder;
    cursor: pointer;
  }
  
  #forgot-pass {
    text-align: center;
    margin-top: 30px;
    color: var(--text-color);
    font-size: 15px;
  }
  
  #forgot-pass a {
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
  }

  #forgot-pass a:hover {
    filter: brightness(2);

    font-size: 15px!important;
  }