.register-container {
  margin: auto;
}

#register-form {
    display: grid;
    place-items: center;
    width: 350px;
    height: 550px;
    padding: 25px;
    background-color: transparent /* #161616 */;
    box-shadow: 0px 0px 0px var(--textColor);
    outline: 1px solid var(--textColor);
    border-radius: 0px;
    backdrop-filter: blur(10px);
  }
  
  #submitButtonRegister{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  #confirm-password-container {
    margin-top: 15px;
  }
  
  .error{
    border: 1px solid red !important;
  }

  small {
    color: red;
    font-weight: 600;
  }
  
  #forgot-pass {
    text-align: center;
    margin-top: 30px;
    color: var(--text-color);
    font-size: 15px;
  }
  
  #forgot-pass a {
    text-decoration: none;
    font-size: 15px;
    transition: font-size 0.2s ease-in-out;
    cursor: pointer;
  }

  #forgot-pass a:hover {
    font-size: 16px;
  }