.login-container {
    max-width: 300px;
    margin: auto;
    margin-top: 33vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
}

.login-container h2 {
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin: 10px 0;
}

#login-form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.2s ease;
}

.login-link a:hover {
    color: #0056b3;
}